# ================ #
#  Asset Folder                    #
# ================ #

/Library/
/Temp/
/Packages/
/obj/


# ================ #
# VS proj                            #
# ================ #

/*.csproj
/*.sln